# Ignore node_modules, as they will be installed inside the container
node_modules

# Ignore local environment files
.env

# Ignore build artifacts
dist

# Ignore logs
npm-debug.log

# Ignore OS-specific files
.DS_Store
